.page-header {
  text-align: center;
}
.page-header h1 {
  font-family: 'Bilbo', cursive;
  font-size: 3.2em;
  padding: 5px 0;
  margin:0;
}
.page-header h3 {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 1.6em;
}
.page-header h6{
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  font-size: .85em;
}
.nav-links {
  padding: 5px 0;
  margin: 20px 0 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}
.content {
  padding-top: 10px 0;
  font-family: 'Georgia', serif;
}
.center {
  display: flex;
  justify-content: center;
}