.page-wrap {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 400px;
}
.center-wrap{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.question {
  z-index: 100;
}
.no-bottom {
  margin-bottom: 0;
  padding-bottom: 5px;
}
.no-top {
  margin-top: 0;
  padding-top: 5px;
}
.img-wrap {
  margin-top: -120px;
  z-index: 1;
}
.button-wrap {
}
.button-wrap a{
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  min-width: 200px;
}
.btn-success {
  color: #FFF;
  background-color: #449D44;
  border-color: #398439;
}
.btn-danger {
  color: #FFF;
  background-color: #C9302C;
  border-color: #AC2925;
}
.btn-info{
  color: #FFF;
  background-color: #5BC0DE;
  border-color: #46B8DA;
}
.fireworks-canvas {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
#slideshow{
  z-index: 1000;
}
@media (min-width: 800px) {
  .page-wrap{
    min-height: 600px;
  }
}
